$fontmain:'Play',
Georgia,
sans-serif;

.hamburger {
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 24px;
  display: none;

  &__line {
    display: block;
    background-color: #000;
    height: 4px;
    border-radius: 10px;
  }
}

.menu__croce {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.croce {
  width: 5px;
  display: none;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transform: rotate(45deg);


  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }
}

.menu-mobile {
  display: none;
}

.menu-mobile.menu_fullscreen {
  display: flex;
}

.menu_fullscreen .menu__list .menu__link .menu__link-title {
  color: #fff;
}

.menu_fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #666666;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: scroll;


  .croce {
    display: block;
    cursor: pointer;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
  }

  .menu__link {
    margin-right: 0;
    margin-bottom: 1.875rem;
    font-size: 2.25rem;


    &:last-child {
      margin-bottom: 0;
    }
  }

  .menu__list .menu__link-title {
    color: #fff;
    font-family: $fontmain;
  }
}