@mixin title {
  max-width: 25rem;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5625rem;
  margin: 0;
  text-transform: uppercase;
}

.hero__title {
  @include title;
}

.main-section {
  position: relative;
}

.rectangle {
  width: 2.6875rem;
  height: 0.625rem;
  transform: rotate(135deg);
  background: #C4C4C4;
  position: absolute;
  left: 77%;
  top: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3.875rem;
  margin-bottom: 5.75rem;
  position: relative;

  &__pic {
    top: 14%;
    right: 3%;
    position: absolute;
    width: 50%;
  }

  p {
    font-family: $fontsecond;
    font-size: 1.3125rem;
    display: block;
    max-width: 20rem;
    margin: 2% 0 3.5%;
    line-height: 1.28;
  }

  .hero__img {
    border-radius: 50%;
    width: 31rem;
  }

}