.socials {
  display: flex;

  &__icon {
    display: inline;
    vertical-align: middle;
    margin-right: 0.625rem;
    text-decoration: none;
  }

  svg {
    fill: #B3B3B3;
    width: 1.875rem;
    height: 1.875rem;

    &:hover {
      fill: #000;
    }
  }
}