.player-section {
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .inner-title {
    margin-bottom: 2.75rem;
  }
}

.player-section::before {
  content: "";
  display: block;
  position: absolute;
  top: -17px;
  left: 80px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #868686;
}

.player {
  color: #fff;
  position: relative;

  overflow: hidden;
  width: 41.25rem;
  height: 24.375rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .player__video {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}



.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  background: #3e3e3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5625rem;

  button:focus {
    outline: none;
  }
}

.player__splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: url(../../img/splash.png) center center no-repeat;
  cursor: pointer;
}

// .player.active .player__splash {
//   display: none;
// }

.player__start {
  background: url(../../img/splash.png) center center no-repeat;
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
  background-size: contain;
}

.paused .player__start {
  background: url(../../img/icons/pause.png) center center no-repeat;
  display: block;
  width: 1.5625rem;
  height: 1.5625rem;
  background-size: contain;
}

.player__playback {
  height: 0.25rem;
  border-radius: 1px;
  background-color: #fff;
  outline: none;
  width: 27.875rem;
  appearance: none;
}

.player__sound::-webkit-slider-thumb,
.player__playback::-webkit-slider-thumb {
  appearance: none;
  background: #fff;
  width: 0.75rem;
  height: 0.75rem;
  border: none;
  border-radius: 50%;
}

.player__sound {
  height: 0.25rem;
  border-radius: 1px;
  background-color: #fff;
  outline: none;
  width: 6.25rem;
  appearance: none;
}

.mute {
  background: url(../../img/icons/mute.png) center center no-repeat;
  display: block;
  width: 0.5625rem;
  height: 1.5625rem;
  background-size: contain;
}

